::-webkit-scrollbar-track {
    background: #fcfbfb;
   
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.primary-btns
{
    background-color: #1529dd;
}